[submodule "deps/tremulous-map-common"]
	path = deps/tremulous-map-common
	url = https://github.com/Masmblr/tremulous-map-common.git
[submodule "deps/mas02-ioq3-dev"]
	path = deps/mas02-ioq3-dev
	url = https://github.com/Masmblr/mas02-Texture-Set.git
	branch = mas02-ioq3-dev
